<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RegisterV</title>
</head>
<body>
  <button mat-stroked-button routerLink="/home">HOME</button>
    <div class="login-page">
        <mat-card class="form">
            <form class="login-form">
              <input type="text" placeholder="name"/>
              <input type="password" placeholder="password"/>
              <input type="text" placeholder="email address"/>
              <button routerLink="/homev">create</button>
              <p class="message">Already registered? <a routerLink="/authv">Sign In</a></p>
            </form>
          </mat-card>
      </div>
</body>
</html>
